@model List<Vidly.Models.Movies>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            
        </tr>
    </thead>
    <tbody>
        @*@foreach (var movies in Model)
        {
            <tr>
                <td> @Html.ActionLink(
                         linkText: @movies.Name,
                         actionName: "Edit",
                         controllerName: "Movies",
                         routeValues: new { moviesId = @movies.Id },
                         htmlAttributes: null)
                    </td>
                <td>@movies.Genres.Name</td>
            </tr>
        }*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data:
                            "name" @*This maps to the json column with name - small letter because it was changed to camel case*@
                       
                    },
                    
                    {
                        data: "genres.name"
                    }
                    
                ]
            });

            


        });
    </script>
}
